<mat-toolbar color="primary">
    <button *ngIf="on_shopping_cart" 
        matTooltip="Volver a listado de planes" 
        mat-icon-button class="icon" 
        aria-label="Example icon-button with share icon"
        (click)="goToItemsList()"
    >
        <mat-icon matBadgeColor="warn">arrow_back_ios</mat-icon>
    </button>
    <form [formGroup]="searchForm">
        <mat-form-field appearance="fill">
            <mat-label>Buscar</mat-label>
            <input matInput type="text" formControlName="search" />
            <button matTooltip="Limpiar búsqueda" *ngIf="searchForm?.get('search')?.value" matSuffix mat-icon-button aria-label="Clear"
                (click)="resetForm()">
                <mat-icon>close</mat-icon>
            </button>
            <button matSuffix mat-icon-button aria-label="Search" (click)="search()">
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
    </form>
    <button *ngIf="show_shopping_cart" 
        matTooltip="Ver carrito" 
        mat-icon-button class="icon" 
        aria-label="Example icon-button with share icon"
        (click)="goToShoppingCart()"
    >
        <mat-icon [matBadge]="budgeCount" matBadgeColor="warn">add_shopping_cart</mat-icon>
    </button>
</mat-toolbar>